<div class="story-body">
    <h2>MAGA Rally Map</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-01.js</code> inside of this partial</p>
    <div id="chart-1"></div>
</div>

<script src="scripts/chart-01.js"></script>

<div class="story-body">
    <h2>Bar chart -- States visited the most</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-02.js</code> inside of this partial</p>
    <div id="chart-2"></div>
</div>

<script src="scripts/chart-02.js"></script>

<div class="story-body">
    <h2>Trump visits abroad map</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-03.js</code> inside of this partial</p>
    <div id="chart-3"></div>
</div>

<script src="scripts/chart-03.js"></script>

<div class="story-body">
    <h2>This is how many days Bush, Obama and Trump spent abroad </h2>
    <p>I have the <code>script</code> tag that points to <code>chart-04.js</code> inside of this partial</p>
    <div id="chart-4"></div>
</div>

<script src="scripts/chart-04.js"></script>
<div class="story-body">
    <h2>The number of trips during their first 34 motnhs is the office</h2>
    <p>I have the <code>script</code> tag that points to <code>chart-04.js</code> inside of this partial</p>
    <div id="chart-5"></div>
</div>


<script src="scripts/chart-05.js"></script>
  