<div class="story-body scrollytelling">
     <p><h2>In abroad, Trump has traveld to East Asia but avoided some western allies</h2>
     <p>Overseas, Trump has not found similar comfort-zone as inside the US. But while he has visited many countries he is liked, such as Israel and Vietnam he has stayed out of some. </p>
    <div id="chart-3" class="chart">
    </div>
        
<div class="steps">
        <div class="step" id="first-step">
            <p>President Trump has had bilateral meetings in 10 differnent countries by the end of 2019.</p>
        </div>


    <div class="steps">
        <div class="step" id="popularity-step">
            <p>Trump is not popular almost anywhere in Europe. Of the places he has traveled his popularity was highest in Eastern Asia and Israel, from places marked green there is no data.</p>
        </div>

        <div class="step" id="nogo-step">
            <p>Normally US presidents have often bilateral meatings in Germany, Canada and Mexico. Trump has not visited any of those.<br>All of these are also countries where Trump is unpopular; in Germany his popularity rate was 9, in Mexico 6 and in Canada 22 in 2018.</p>
        </div>
        
 </div></div>
    </div>
</div>


<script src="scripts/chart-03.js"></script>
<link rel="stylesheet" href="styles/scrolly.css"></link>
<script src="scripts/vendor/scrollytelling.js"></script>