<div class="story-body scrollytelling">
     <h2>In abroad, Trump has traveld to East Asia but avoided some western allies</h2>
    <div id="chart-3" class="chart">
    </div>
        
<div class="steps">
        <div class="step" id="first-step">
            <p>Trump has had bilateral meetings in 15 differnet countries by the end of 2019</p>
        </div>


    <div class="steps">
        <div class="step" id="popularity-step">
            <p>Trump is not popular almost anywhere in Europe. Of the places he has traveled his popularity was highest in Eastern Asia and Israel</p>
        </div>

        <div class="step" id="nogo-step">
            <p>Normally US presidents have often bilateral meatings in Germany, Canada and Mexico. Trump has not visited any of those. All of these are also countries where Trump is unpopular</p>
        </div>
        
 </div></div>
    </div>
</div>


<script src="scripts/chart-03.js"></script>
<link rel="stylesheet" href="styles/scrolly.css"></link>
<script src="scripts/vendor/scrollytelling.js"></script>